
.servicewrapper-section{
background-color: #f1e8fc;
}
.servicewrapper-section {
  padding-bottom:10%;
}
.servicewrapper-section h2{
  padding-bottom:10%;
}
.service-wrapper h2{
  padding:10%;
}

.text{
  color:#4D1C89;
  text-align: center;
}


.folded-corner:hover .text{
  visibility: visible;
  color: #fff;
}


/*
  nav link items
*/
.folded-corner {
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    background: transparent;
    transition: all ease .5s;
   
    border-radius: 9%;
    box-shadow: 20px -20px #fff;
}
.folded-corner:hover{
  background-color: #4D1C89;
  color: #fff;
}



.folded-corner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0px 0px 0;
  border-color: #ddd #000;
  transition: all ease .3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {

  border-width: 0 50px 50px 0;
  border-color: #eee #000;
  
}

.service_tab_1{
     height: 458px;
}
.service_tab_1:hover .fa-icon-image{
   
    transform: rotate(360deg) scale(1.5);
}

.fa-icon-image {
   
    transition: all .65s linear 0s;
 
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
 
    padding: 5% 0;
}

.fa-icon-image img{

    height: 107px;
    border-radius: 10%;
}
